
    <h1 class= "titulos">Contacto</h1>
        <p>Puedes seguirme en mis redes sociales</p>
    <ul>   
        <li><a class="redes" href="https://www.linkedin.com/feed/" >Linkedin</a></li> 
        <li><a class="redes" href="https://github.com/vvalers" >Github</a></li> 
        <li><a class="redes" href="https://www.instagram.com" >Instagram</a></li> 
        
    </ul>    
    
    <p>No dudes en contactarme!</p>

    <img src="https://media.tenor.com/uBdp8Y-mq-sAAAAi/ton-ton-friends-bye-bye.gif" class="perrito" alt="perrito">