
 <h1 class= "titulos" >Bienvenidos a mi portafolio</h1>
 <p class="home"> Aqui encontraras algunos de mis proyectos y mis redes sociales para poder contactarme.</p>

 <img src="https://img.freepik.com/vector-gratis/lindo-perro-sacando-lengua-ilustracion-icono-dibujos-animados_138676-2709.jpg" class="perrito" alt="perrito">
 

  

