
 <h1 class= "titulos" >Bienvenidos a mi portafolio</h1>
    <p class="home"> Aqui encontraras algunos de mis proyectos y mis redes sociales para poder contactarme.</p>
         <img src="https://img.freepik.com/vector-premium/icono-vectorial-dibujos-animados-perro-pug-sentado-ilustracion-icono-naturaleza-animal-concepto-icono-vector-aislado_138676-8875.jpg" class="perrito" alt="perrito">

 

  

