
  <h1 class= "titulos">Proyectos</h1>
    <div class="card-group">
      <div class="card">
        <img src="./assets/iguanapague.jpg" class="card-img-top" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Iguana Page</h5>
          <p class="card-text">Primer desafio evaluado con HTML y CSS del modulo dos del curso.</p>
          <button class="miboton">Ver más</button>
        </div>
      </div>
      <div class="card">
        <img src="./assets/suricata.jpg" class="suricata card-img-top" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">Suricata</h5>
          <p class="card-text">Desafio guiado usando por primera vez Bootstrap.</p>
          <button class="miboton">Ver más</button>
        </div>
      </div>
      <div class="card">
        <img src="./assets/viajeschile.jpg" class="viajes card-img-top" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">Viajes Chile</h5>
          <p class="card-text">Prueba final del modulo dos usando HTML, CSS, Bootstrap y JavaScript.</p>
         <button class="miboton">Ver más</button>
        </div>
      </div>
    </div>
  </div>